*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: lightsteelblue;
}
.container{
  width: 787px;
  margin: 0 auto;
}

.block{
  height: 100%;
  border-radius: 5px;
  background-color: lightgray;
  margin: 20px 0;
  padding: 20px;
  position: relative;
}

.edit-block, .style-block {
  display: none;
}

h4, h2 {
  margin: 10px 0px;
}

#fontFamily{
  width: 260px;
}

.edit-area {
  width: 100%;
  height: 200px;
  resize: none;
}

.colors, .colors1{
  width: 150px;
  height: 150px;
  outline: 1px solid black;
  position: absolute;
  top: 60px;
  right: 150px;
  display: flex;
  flex-wrap: wrap;
}
.color-box, .color-box1{
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.bold{
  font-weight: bold;
}
.cursive{
  font-style: italic;
}

.first, .second{
  display: none;
}


.hide{
  display: none;
}

/* список */
.create-list{
  display: none;
  width: 100%;
    height: 150px;
}
.countLi{
  position: relative;
  top: 25px;
  
}
.count-li-input{
  position: relative;
  width: 75%;
  height: 25px;
  margin: 0px 0px 20px 110px;
}
.typeOF-input{
  position: relative;
  left: 90px;
    bottom: 25px;
    width: 75%;
    height: 25px;
    margin-left: 20px;
}
/* тфблиці */
.table-list{
  width: 100%;
  background: lightgray;
  display: none;
}

.form-table, .form-table-add,
.form-table-style{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-table-style{
  margin: 12px 0px 12px 0px;
}

.countTr-table, .typeTd-table, .countAdd,
.typeAdd{
  display: inline;
  margin: 10px 0px;
}
.count-tr-input, .typeTd-td-input,
.count-add-input, .type-add-input{
  width: 81%;
  display: inline;
  margin: 5px 0px;
  padding-left: 10px;
}
.count-Width, .count-Type, .count-Color{
  display: inline;
  margin: 0px 30px 0px 15px;
}
.count-Width{
  margin: 5px 6px 0px 0px;
}
/* .count-Width-border, .count-Type-border,
.count-Color-border{

} */
.count-Width-border{
  width: 70px;
  padding-left: 10px;
}

.show {
  display: block;
}



/* butons starts */
.center-block{
  display: flex;
  justify-content: center;
}
.btn-edit, .btn-style, .btn-add, 
.btn-save, .btn-create-list,
.btn-create-list2{
  width: 70px;
  height: 40px;
  margin: 0px 5px;
  border-radius: 4px;
  border: none;
  color: white;
}

.btn-text-color, .btn-bg-color{
  color: white;
  background: grey;
  border-radius: 3px;
  border: grey 1px solid;
  width: 129px;
    height: 25px;
}

.btn-edit{
  background: darkorange;
}
.btn-style{
  background: darkblue;
}
.btn-add{
  background: darkred;
}
.btn-save, .btn-create-list,
.btn-create-list2{
  background: darkolivegreen;
}
.btn-create-list,
.btn-create-list2{
  display: block;
  margin: 0px;
}

/* buttons ends */