

<section class="section">

<p>home works!</p>

    <div class="box">
<app-lesson1></app-lesson1>
<a [routerLink]="['/Logos/Lesson1']" routerLinkActive="active" class="button">leson1</a>

</div>

<div class="box">
    <app-lesson2></app-lesson2>
    <a [routerLink]="['/Logos/Lesson2']" routerLinkActive="active" class="button">leson2</a>

    </div>

    <div class="box">
        <app-lesson3></app-lesson3>
    <a [routerLink]="['/Logos/Lesson3']" routerLinkActive="active" class="button">leson3</a>

        </div>
</section>
