<div class="angular">
    <h1 class="angular-users-task">Angular users task</h1>
</div>

<div class="container">
    <div class="registration">
        <p>login</p>
        <input class="user-text" type="text" [(ngModel)]="login">

        <p>pasword</p>
        <input class="user-text" type="text" [(ngModel)]="pasword">

        <p>email address</p>
        <input class="user-text" type="text" [(ngModel)]="email">

        <button class="button-add" *ngIf="!editStatus" (click)="addUser()"
            [disabled]="!login || this.result.length === 6 ">Add user</button>
        <button class="button-save" *ngIf="editStatus" (click)="saveUser()">save</button>

    </div>

    <div class="users-data">
        <div class="users-data-name">
            <div class="users-data-name-inform1">#</div>
            <div class="users-data-name-inform">login</div>
            <div class="users-data-name-inform">pasword</div>
            <div class="users-data-name-inform4">email</div>
            <div class="users-data-name-inform">edit</div>
            <div class="users-data-name-inform">delete</div>
        </div>


        <div class="user" *ngFor="let item  of result; index as i">
            <div class="user-inform1">{{i+1}}</div>
            <div class="user-inform">{{item.login}}</div>
            <div class="user-inform">{{item.password}}</div>
            <div class="user-inform4">{{item.email}}</div>
            <div class="user-inform"><button class="bottom-edit" (click)="editUser(i)">edit</button></div>
            <div class="user-inform"><button class="bottom-delit" (click)="deliteUser(i)">delit</button></div>


        </div>

    </div>


</div>