<div class="section">

    <ul class="nav">
        <li class=" nav-link">
            last works >>>
        </li>
        <li class="nav-item ">
            <a class="nav-link" [routerLink]="['Lesson1']" routerLinkActive="active">Lesson1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Lesson2']" routerLinkActive="active">Lesson2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['Lesson3']" routerLinkActive="active">Lesson3</a>
        </li>
    </ul>
    <div class="nav-item-back"></div>
    <li class="nav-item">
        <a class="nav-link bacK-to" [routerLink]="['']">Back to >>> Home</a>
    </li>
</div>

<router-outlet></router-outlet>