<p>logos works!</p>
<div class="section-menu">
            
    <button>last works >>></button>
    <a [routerLink]="['Lesson1']" routerLinkActive="active" class="button">leson1</a>
    <!-- <button>lesson1</button> -->
    <a [routerLink]="['Lesson2']" routerLinkActive="active" class="button">leson2</a>

    <!-- <button>lesson2</button> -->
    <a [routerLink]="['Lesson3']" routerLinkActive="active" class="button">leson3</a>


    
    
    <!-- <a [routerLink]="['/Home/Lesson1']" routerLinkActive="active" class="button">leson1</a> -->

    <!-- <button>lesson3</button> -->
    <div class="home">
        <a [routerLink]="['']" >home</a>
    <!-- <button>Back to Home >>></button> routerLinkActive="active-home"-->
   </div>

</div>

<router-outlet></router-outlet>
