<header>
    <div class="section">
        <div class="section-titl">
           Angular list of previous task
        </div> 

    <!-- <a [routerLink]="['/Logos/Lesson1']" routerLinkActive="active" class="button">leson1</a> -->
    <!-- <a [routerLink]="['/Logos/Lesson2']" routerLinkActive="active" class="button">leson2</a> -->
    <!-- <a [routerLink]="['/Logos/Lesson3']" routerLinkActive="active" class="button">leson3</a> -->
    <a [routerLink]="['']" routerLinkActive="active" class="button" >home</a>
    <a [routerLink]="['Logos']" routerLinkActive="active" class="button" >Logos</a>
        
    </div>
</header>